/src/Core.Data/bin/
/src/Core.Data/obj/
/src/Core.DI/bin/
/src/Core.DI/obj/
/src/Core.Domain/bin/
/src/Core.Domain/obj/
/src/Core.WebApi/bin/
/src/Core.WebApi/obj/
/src/Core.Angular/node_modules
docs/bolaocopadomundo.PublishSettings
docs/bolao-api.PublishSettings
src/Core.Data/Repositories/BaseRepository.cs
docs/Sql/
