<div class="row">
  <div class="col-xs-12">
    <div class="box box-info direct-chat direct-chat-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Premiação</h3>

        <div class="row legend">
          <div class="col-xs-12">
            <span>Até 70 jogadores</span>
            <ul>
              <li>1° lugar: Celular Moto Z2 Play</li>
              <li>2° lugar: Camiseta do seu clube favorito (seleção ou clube)</li>
              <li>Ultimo lugar: Bola murcha</li>
            </ul>
          </div>
          <div class="col-xs-12">
            <span>De 71 até 150 jogadores</span>
            <ul>
              <li>1° lugar: Iphone 8 ou Galaxy S8</li>
              <li>2° lugar: Camiseta do seu clube favorito (seleção ou clube)</li>
              <li>Ultimo lugar: Bola murcha</li>
            </ul>
          </div>
          <div class="col-xs-12">
            <span>Mais de 121 jogadores</span>
            <ul>
              <li>1° lugar: Iphone 8 ou Galaxy S8</li>
              <li>2° lugar: Celular Moto Z2 Play</li>
              <li>3° lugar: Camiseta do seu clube favorito (seleção ou clube)</li>
              <li>Ultimo lugar: Bola murcha</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="box box-warning direct-chat direct-chat-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Regras de desempate</h3>

        <div class="row legend">
          <div class="col-xs-12">
            <span>Críterio de desempate:</span>
            <ul>
              <li>1° Empate certo com placar certo</li>
              <li>2° Vitoria certa com placar certo</li>
              <li>3° Vitoria certa com um placar certo</li>
              <li>4° Empate certo com placar errado</li>
              <li>4° Vitoria certa com placar errado</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>