<section class="content-header">
  <h1>Palpites do {{ userName }}</h1>
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/classificacao']">
        <i class="fa fa-table"></i> Classificação</a>
    </li>
    <li class="active">Palpites do {{ userName }}</li>
  </ol>
</section>

<section class="content">

  <div class="row row-button-top">
    <div class="col-sm-12">
      <button *ngIf="shared.user.id == userId" type="button" class="btn btn-info" (click)="save()" [disabled]="isLoading">
        <span *ngIf="!isLoading">salvar todos os palpites</span>
        <span *ngIf="isLoading">segura esse dedo nervoso ai que estou salvando</span>
      </button>
    </div>
  </div>

  <div class="callout callout-success" *ngIf="showSuccess">
    Blz parça!!! todos os palpites foram registrados com sucesso, agora é só torcer ou rezar
  </div>

  <div class="callout callout-danger" *ngIf="showError">
    Deu merda capiton!!! Alguma coisa deu errado, tente salvar novamente mais tarde
  </div>

  <div class="row" *ngFor="let gameByGroup of gamesByGroup; let indexGroup = index">
    <div class="col-xs-12">
      <div class="box">
        <!-- Grupo -->
        <div class="box-header">
          <h3 class="box-title">{{ gameByGroup.groupName }}</h3>
        </div>

        <!-- Jogos -->
        <div class="box-body table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr *ngFor="let game of gameByGroup.games; let indexGame = index">
                <td class="col-lg-2">{{ game.gameDate | date:'dd/MM/yyyy HH:mm' }}</td>
                <td class="col-lg-4 text-right">{{ game.teamA }}</td>
                <td class="col-lg-1 text-right">
                  <input *ngIf="shared.user.id == game.userId && game.CanChangeMyHunch" type="number" id="scoreTeamA{{game.oficialGameId}}" name="scoreTeamA{{game.oficialGameId}}" [(ngModel)]="game.scoreTeamA" required>
                  <span *ngIf="shared.user.id != game.userId || !game.CanChangeMyHunch">{{ game.scoreTeamA }}</span>
                </td>
                <td class="col-lg-1 text-center"> x </td>
                <td class="col-lg-1">
                  <input *ngIf="shared.user.id == game.userId && game.CanChangeMyHunch" type="number" id="scoreTeamB{{game.oficialGameId}}" name="scoreTeamB{{game.oficialGameId}}" [(ngModel)]="game.scoreTeamB" required>
                  <span *ngIf="shared.user.id != game.userId || !game.CanChangeMyHunch">{{ game.scoreTeamB }}</span>
                </td>
                <td class="col-lg-3">{{ game.teamB }}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-button-bottom">
    <div class="col-sm-12">
      <button *ngIf="shared.user.id == userId" type="button" class="btn btn-info" (click)="save()" [disabled]="isLoading">
        <span *ngIf="!isLoading">salvar todos os palpites</span>
        <span *ngIf="isLoading">segura esse dedo nervoso ai que estou salvando</span>
      </button>
    </div>
  </div>

  <div class="callout callout-success" *ngIf="showSuccess">
    Blz parça!!! todos os palpites foram registrados com sucesso, agora é só torcer ou rezar
  </div>

  <div class="callout callout-danger" *ngIf="showError">
    Deu merda capiton!!! Alguma coisa deu errado, tente salvar novamente mais tarde
  </div>

</section>