<div class="row" *ngFor="let gameByGroup of gamesByGroup; let indexGroup = index">
  <div class="col-xs-12">
    <div class="box">
      <!-- Grupo -->
      <div class="box-header">
        <h3 class="box-title">{{ gameByGroup.groupName }}</h3>
      </div>

      <!-- Jogos -->
      <div class="box-body table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let game of gameByGroup.games; let indexGame = index">
              <td class="col-lg-2">{{ game.gameDate | date:'dd/MM/yyyy HH:mm' }}</td>
              <td class="col-lg-3 text-right">{{ game.teamA }}</td>
              <td class="col-lg-1"><input type="number" id="scoreTeamA{{game.oficialGameId}}" name="scoreTeamA{{game.oficialGameId}}" [(ngModel)]="game.scoreTeamA" required></td>
              <td class="col-lg-1 text-center"> x </td>
              <td class="col-lg-1"><input type="number" id="scoreTeamB{{game.oficialGameId}}" name="scoreTeamB{{game.oficialGameId}}" [(ngModel)]="game.scoreTeamB" required></td>
              <td class="col-lg-3">{{ game.teamB }}</td>
              <td class="col-lg-1"><button *ngIf="game.canSave" type="button" class="btn btn-info" (click)="save(indexGroup, indexGame)" [disabled]="isLoading">salvar</button></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>