/* thead {
    background-color: #32383e;
    color: #fff;
} */

th {
    text-align: center;
}

td {
    text-align: center;
}

.total{
    font-weight: bold;
}

/* .first{
    background-color: blue;
} */