<!-- <a [routerLink]="['/meu-jogo', shared.user.id]"> -->

<aside class="main-sidebar" *ngIf="shared.user">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header menu-header">
        {{ shared.user.name }}
        <small class="label pull-right bg-blue">17</small>
      </li>

      <li>
        <a [routerLink]="['/meu-jogo']">
          <i class="fa fa-dashboard"></i>
          <span>Meu Jogo</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/resultado-oficial']">
          <i class="fa fa-edit"></i>
          <span>Resultado Oficial</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/']">
          <i class="fa fa-table"></i>
          <span>Classificação</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/regulamento']">
          <i class="fa fa-book"></i>
          <span>Regulamento</span>
        </a>
      </li>
    </ul>
  </section>
</aside>